body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background: #111;
  color: white;
  font-family: Avenir;
  text-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
}

a, a:active, a:visited, a:focus, a:hover{
  text-decoration: none;
  cursor: pointer;
}


input, input:active, input:visited, input:focus{
  outline: none;
  font-family: Avenir;
}

::-webkit-scrollbar{
  display: none;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 50px white inset,
}

/* Navbar */

.navbar {
  z-index: 10;
  top: 0;
  height: 9vh;
  width: 100vw;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(77, 244, 180) 45%, rgb(247, 209, 255) 55%, rgb(81, 0, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  padding: 3%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
}

.navbar_logo {
  height: auto;
  width: 90px;
}

.navbar_search{
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_search_icon {
  height: 32%;
  margin-right: 10px;
}

.trinityTitle {
  display: flex;
  color: rgb(255, 255, 255);
}

.navbarProfilePic {
  height: auto;
  width: 50px;
  border-radius: 50%;
  margin-left: auto

}

.navbarRightDiv {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.signInOutButton{
  appearance: none;
  background-color: #3f3f3f;
  border: 2px solid #3f3f3f;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 60px;
  outline: none;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  font-family: Avenir;
  margin: 1%;
  margin-right: 5%;
}


/* index */

.bgdiv {
  display: block;
  position: relative;
  text-align: center;
  color: white;

}

.indexbg {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.indexbg::before {
  content: "";
  background-image: url('../public/indexbg2.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 35%;

}


.h1WC{
  position: relative;
  color: #ffffff;  
  font-size: 50px;
  line-height: 0.9;
  text-align: center;

}

.signInUpButton {
  appearance: none;
  background-color: #3f3f3f;
  border: 2px solid #3f3f3f;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 30%;
  outline: none;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  font-family: Avenir;
  align-self: center;
  margin: 1%;
  justify-content: center;
  width: 300px;
  font-size: 30px;
  background-color:rgba(77, 244, 180, 0.71);
}